## ![s](https://s19.postimg.org/x69rfot6b/Pampa_ds160.png)

In [6]:
import pygsheets

In [16]:
import pandas as pd

In [8]:
gc = pygsheets.authorize(outh_file='GoogleSheets_client_secret_OAuth.json')

Your browser has been opened to visit:

    https://accounts.google.com/o/oauth2/auth?redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fspreadsheets+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&client_id=659871321478-0k2hssu970f92vst5irfgdopdf8dkaib.apps.googleusercontent.com&access_type=offline&response_type=code

If your browser is on a different machine then exit and re-run this
application with the command-line parameter

  --noauth_local_webserver

Authentication successful.
Storing credentials to C:\Users\Jarvis\sheets.googleapis.com-python.json

### Our sheet in Google Drive

### ![s](http://s19.postimg.org/myr83a6yb/Pampa_ds160.png)

In [10]:
# Find a workbook by name and open the first sheet
# Make sure you use the right name here.
sheet=gc.open('TEST_Emp_data').sheet1

In [15]:
# Extract and print all of the values
TEST_Emp_data = sheet.get_all_records()
type(TEST_Emp_data)

list

In [21]:
TEST_Emp_data

[{'ID': 1,
  'Location': '2°32′S   140°43′E Jayapura, Indonesia',
  'Name': 'Spring Magoon'},
 {'ID': 2,
  'Location': '22°34′S   17°05′E Windhoek, Namibia',
  'Name': 'Gema Coberly'},
 {'ID': 3,
  'Location': '44°45′N   19°42′E Šabac, Serbia',
  'Name': 'Paige Wallace'},
 {'ID': 4, 'Location': '15°36′S   56°06′W Cuiabá, Brazil', 'Name': 'Sun Mees'},
 {'ID': 5,
  'Location': '36°23′N   139°04′E Maebashi, Japan',
  'Name': 'Germaine Manuelito'},
 {'ID': 6, 'Location': '13°32′S   71°58′W Cusco, Peru', 'Name': 'Iris Cowen'},
 {'ID': 7,
  'Location': '12°07′N   68°56′W Willemstad, Netherlands',
  'Name': 'Shantae Sulton'},
 {'ID': 8,
  'Location': '38°33′N   121°28′W Sacramento, United States',
  'Name': 'Tanika Carrera'},
 {'ID': 9,
  'Location': '31°56′N   35°56′E Amman, Jordan',
  'Name': 'Lisabeth Milburn'},
 {'ID': 10,
  'Location': '54°05′N   2°80′W Lancaster, United Kingdom',
  'Name': 'Carletta Slayton'}]

### Saving the Google Sheet into Pandas dataframe

In [25]:
df = pd.DataFrame.from_records(TEST_Emp_data)

#### changing the order of DataFrame columns

In [27]:
df=df[['ID','Name','Location']]

In [28]:
df

   ID                Name                                      Location
0   1       Spring Magoon         2°32′S   140°43′E Jayapura, Indonesia
1   2        Gema Coberly           22°34′S   17°05′E Windhoek, Namibia
2   3       Paige Wallace               44°45′N   19°42′E Šabac, Serbia
3   4            Sun Mees              15°36′S   56°06′W Cuiabá, Brazil
4   5  Germaine Manuelito            36°23′N   139°04′E Maebashi, Japan
5   6          Iris Cowen                 13°32′S   71°58′W Cusco, Peru
6   7      Shantae Sulton     12°07′N   68°56′W Willemstad, Netherlands
7   8      Tanika Carrera  38°33′N   121°28′W Sacramento, United States
8   9    Lisabeth Milburn               31°56′N   35°56′E Amman, Jordan
9  10    Carletta Slayton    54°05′N   2°80′W Lancaster, United Kingdom